<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ExamByte-System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tests">Tests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Test-Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="addTest">Add Tests</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 th:each="testt : ${test}"> Test <span th:text="${testt.getName()}"> Woche ... </span></h1>

    <a href="/addAufgabe">Hier klicken, um neuen Aufgaben hinzuzufügen</a>


    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Aufgabe Punkte</th>
                <th>Aufgabe Type</th>
                <th>Zu Aufgabe</th>
                <th>Löschen</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="aufgabe : ${aufgabens}">
                <td>
                    <span th:text="${aufgabe.getTitle()}">Example Aufgabe Woche </span>
                </td>
                <td>
                    <span th:text="${aufgabe.getPunkt()}">Example Aufgabe Punkt </span>
                </td>
                <td>
                    <span th:text="${aufgabe.getType()}">Example Aufgabe Type </span>
                </td>
                <td><a href="/aufgabe">Zu Aufgabe</a></td>
                <td>
                    <form>
                        <button type="submit" class="btn btn-primary">Löschen</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="alert alert-warning" id="error-message" th:if="${error} != null" th:text="${error}">
        Some error message
    </div>

    <div class="alert alert-success" id="success-message" th:if="${success} != null" th:text="${success}">
        Some success message
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
